.main {
    padding-top: calc(env(safe-area-inset-top) + 14px);
    padding-bottom: calc(60px + env(safe-area-inset-bottom) + 14px);
}

/* Hero */
.tabs {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  gap: 5px;
}

.tab {
  all: unset;
  padding: 6px 20px;
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid var(--detail);
  transition: all 0.3s ease;
  background-color: var(--background);
  width: 70px;
  text-align: center;
}

.activeTab {
  background-color: var(--foreground);
  color: var(--background);
}

.hero {
  text-align: center;
  margin: 20px 0;
}

.heroAmount {
  font-size: 52px;
  font-weight: 700;
  letter-spacing: -2px;
}

.heroLabel {
  font-size: 16px;
  color: var(--foreground);
}

/* Budgets cards */
.budgets {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 10px;
}

.budgetCard {
  background-color: var(--background);
  border: 1px solid var(--detail);
  border-radius: 10px;
  padding: 16px;
}

.budgetHeader {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
}

/* Budget card ticks */
.progressTrack {
  position: relative;
  height: 6px;
  background-color: var(--detail);
  border-radius: 100px;
  margin-top: 12px;
}

.progressBar {
  height: 100%;
  border-radius: 100px;
}

.tick {
  position: absolute;
  top: -3px;
  width: 2px;
  height: 12px;
  background-color: var(--background);
  transform: translateX(-50%);
}