* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (pointer: fine) {
  * {
    cursor: url('/cursor.png') 12 8, pointer !important;
  }
}

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
  --accent: #D5C58A;
  --detail: rgba(0, 0, 0, 0.304);
}

html {
  overscroll-behavior: none;
}

body {
  background: var(--background);
  background-image: radial-gradient(circle, var(--detail) 1px, transparent 1px);
  background-size: 20px 20px;
  color: var(--foreground);
  font-family: var(--font-geist-sans), Georgia, sans-serif;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
}