.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(60px + env(safe-area-inset-bottom));
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--background);
  padding-bottom: env(safe-area-inset-bottom);
  border-top: 1px solid var(--detail);
}

.tabWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: var(--foreground);
  font-size: 11px;
}

.active {
  font-weight: 900;
}

.addButton {
  display: flex;
  padding: 4px;
  background-color: var(--accent);
  color: var(--foreground);
  border: 2px solid var(--foreground);
  border-radius: 50%;
  cursor: pointer;
}
